/*------------------------------------*\
  #GENERAL INFO


https://dribbble.com/shots/4224842-Cryptocurrency-Landing-Page


  Colors:
  #F6F7FC
  #353157
  #D8D2E8
  #727CFF
  #89A5F8
  #C8A8C7
  #9A94A7


  #615FF7




  // CODE to CENTER an ELEMENT

div {
  <p>Centered element</p>
}

div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


  ar tikrai palikti calc() fontus, jeigu desiu media queries kiteims

  https://www.smashingmagazine.com/2018/02/media-queries-responsive-design-2018/


\*------------------------------------*/



/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*@font-face {
  font-family: 'Guillon';
  src: url('../fonts/Guillon-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Guillon-Regular.otf')  format('opentype'),
	     url('../fonts/Guillon-Regular.woff') format('woff'), url('../fonts/Guillon-Regular.ttf')  format('truetype'), url('../fonts/Guillon-Regular.svg#Guillon-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Guillon';
  src: url('../fonts/Guillon-Demi.eot?#iefix') format('embedded-opentype'),  url('../fonts/Guillon-Demi.otf')  format('opentype'),
	     url('../fonts/Guillon-Demi.woff') format('woff'), url('../fonts/Guillon-Demi.ttf')  format('truetype'), url('../fonts/Guillon-Demi.svg#Guillon-Demi') format('svg');
  font-weight: 400;
  font-style: normal;
}*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


body {
  font-family: 'Open Sans', sans-serif;
}


/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/



html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5;
}

main {
  margin: 10rem 0 15rem 0;
}

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.nav-container {
  background-color: #615FF7;;
  border-bottom: .05rem solid #F6F7FC;
}

.nav-container .container {
  padding: .5rem 0 .5rem 0;
}

/* .navigation-download {
  background-color: #727CFF;
  transition: all .5s;
}

  .navigation-download:hover {
    background-color: #E84F89;
  }

  .navigation-download:hover a.nav-link {
    color: #F6F7FC;
  } */


/* This class has been taken from bootstrap.min.css */
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover {
  color: #89A5F8;
  font-weight: 300;
  font-size: 1.6rem;
}

a.nav-link {
  color: #F6F7FC;
  font-weight: 300;
  font-size: 1.6rem;
}

.nav-border-left {
  border-right: 0.1rem solid #89A5F8;
}

/*------------------------------------*\
  #TOGGLER MENU
\*------------------------------------*/

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler:focus {
  border: none;
  color: #F6F7FC;
  font-size: 3rem;
  outline: none;
}




/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.navbar-side {
  height: 100%;
  max-width: 38rem;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  background-color: #615FF7;
  overflow-y: scroll;
  z-index: 1000;
}

  @media (min-width: 320px) {
    .navbar-side {
      width: 80%;
    }
  }

.navbar-side-item {
  margin-bottom: .2rem;
  height: 3rem;
  font-weight: 300;
}

  .navbar-side-item {
    padding: 1.5rem 0 4rem 0;
  }

  @media (min-width: 320px) and (max-width: 484px) {

    .navbar-side {
      width: 85%;
    }

    .navbar-side-item {
      padding: 1.5rem 0 4rem 0;
    }


    .navbar-side-item a {
      font-size: 1.4rem;
    }

  }


  .navbar-side-item:hover {
    background-color: #89A5F8;
  }

.navbar-side-item a {
  display: inline-block;
}

.side-link {
  padding-left: 1.7rem;
  padding-right: 1.2rem;
  font-size: 1.6rem;
  color: #F6F7FC;
}

.side-link:active,
.side-link:hover {
  text-decoration: none;
  color: #F6F7FC;
}

.navbar-side {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #353157;
  opacity: .6;
  z-index: 990;
}




/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/

article section {
  color: #353157;
  font-weight: 400;
  line-height: 1.5rem;
  margin: auto;
  max-width: 72rem;
}


/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1, h2 {
  color: #353157;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: calc(200% + 4 * (100vw - 600px) / 400);
  margin-bottom: 6rem;
}


/* h1 {
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: red;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
} */

/*------------------------------------*\
  #PARA
\*------------------------------------*/

.lead-para {
  font-weight: 600;
}

p, ul li {
  font-size: 1.8rem;
  line-height: 1.5;
}


/*------------------------------------*\
  #QUOTE BOX
\*------------------------------------*/

.quote-box {
  background-color: #727CFF;
  color: #F6F7FC;
  margin: 3rem 0 3rem 0;
  border-radius: .2rem;
  transition: all .5s;
}

  .quote-box:hover {
    background-color: #353157;
  }

 .quote-box p {
   padding: 2.6rem 3rem 2.6rem 3rem;
 }

 strong {
   font-weight: bold;
   font-style: italic;
 }


/*------------------------------------*\
  #ICONS
\*------------------------------------*/

.fa-asterisk {
  color: #F6F7FC;
  font-size: 1rem;
}

.fa-quote-left,
.fa-quote-right {
  color: #C8A8C7;
  font-size: 1.3rem;
}



/* Download Icons */

aside {
  border-top: .2rem solid #fff;
  margin-top: 15rem;
}







/* Close button */

.close,
.close:active,
.close:focus,
.close:hover {
  color: #F6F7FC;
  outline: none;
}

.close {
  font-size: 3rem;
  font-weight: 300;
  margin-right: 3rem;
}



/*------------------------------------*\
  #BLOCKQUOTE
\*------------------------------------*/

.blockquote {
  margin: 3rem 0 3rem 0;
}

.blockquote-footer {
  font-size: 1.8rem;
  margin-top: 2rem;
}




/*------------------------------------*\
  #ACCORDION
\*------------------------------------*/

#accordion {
  max-width: 72rem;
  margin: 3rem 0 3rem 0;
}

.card {
  border: none;
}

.card-header {
  background-color: #727CFF;
  border-bottom: .1rem solid #F6F7FC;
  transition: all .4s;
}

/* #F6F7FC
#353157
#D8D2E8
#727CFF
#89A5F8
#C8A8C7
#9A94A7 */

.card-header:hover {
  color: #F6F7FC;
  background-color: #89A5F8;
  transform: translateX(.3rem);
  transition-duration: .4s;
}

.card-heading .btn-link {
  color: #F6F7FC;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
}

.card-body p {
  font-size: 1.6rem;
}


/*------------------------------------*\
  #TABLE
\*------------------------------------*/


.figure-caption {
  margin: 3.5rem 0 2rem 0;
  color: #353157;
}


table {
  font-size: 1.6rem;
  line-height: 1.4;

}

.table thead th {
  color: #F6F7FC;
  font-weight: 300;
  border: none;
  border-right: .1rem solid #F6F7FC;
  border-bottom: .1rem solid #F6F7FC;
}

th {
  background-color: #89A5F8;
  color: #F6F7FC;
  font-weight: 300;
}

.table td {
  background-color: #F6F7FC;
  font-weight: 300;
  border: none;
  border-top: .1rem solid #fff;
  border-bottom: .1rem solid #fff;
  border-left: .1rem solid #fff;
}


@media (min-width: 320px) and (max-width: 484px) {

  table {
    font-size: 1.4rem;
  }

}

/*------------------------------------*\
  #POPOVER
\*------------------------------------*/

sup {
  color: #1EA69A;
  font-size: 2rem;
}

.popover {
  max-width: 40rem;
  border: none;
}

.popover-body {
  color: #F6F7FC;
  background-color: #9A94A7;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 2rem 1.6rem;
}

.bs-popover-top .arrow::after {
  border-top-color: #9A94A7;
}


  @media (min-width: 320px) and (max-width: 484px) {

    sup {
      font-size: 2.3rem;
    }

    .popover {
      max-width: 25rem;
    }

    .popover-body {
      font-size: 1.6rem;
    }
  }
